/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 144, sprites/*.png */
.sprites-sprite, .sprites-btn-back, .sprites-btn-opened, .sprites-btn-plus, .sprites-btn-submit, .sprites-error, .sprites-infos, .sprites-logo, .sprites-logout, .sprites-no-error, .sprites-picto-back, .sprites-picto-settings, .sprites-picto-submit-valid, .sprites-picto-submit {
  background-image: url('../images/sprites-sdcb0a2c2d0.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-btn-back {
  background-position: 0 0;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-btn-opened {
  background-position: 0 -72px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-btn-plus {
  background-position: 0 -108px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-btn-submit {
  background-position: 0 -144px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-error {
  background-position: 0 -216px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-infos {
  background-position: 0 -241px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-logo {
  background-position: 0 -265px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-logout {
  background-position: 0 -341px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-no-error {
  background-position: 0 -372px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-picto-back {
  background-position: 0 -397px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-picto-settings {
  background-position: 0 -456px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-picto-submit-valid {
  background-position: 0 -483px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-picto-submit {
  background-position: 0 -542px;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadPro-Regular.otf") format("opentype"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"), url("fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProSemibold';
  src: url("fonts/myriadpro-semibold_opentype-webfont.eot");
  src: url("fonts/myriadpro-semibold_opentype-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/myriadpro-semibold_opentype-webfont.woff") format("woff"), url("fonts/myriadpro-semibold_opentype-webfont.ttf") format("truetype"), url("fonts/myriadpro-semibold_opentype-webfont.svg#MyriadProSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url("fonts/myriadpro-regular-webfont.eot");
  src: url("fonts/myriadpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/myriadpro-regular-webfont.woff") format("woff"), url("fonts/myriadpro-regular-webfont.ttf") format("truetype"), url("fonts/myriadpro-regular-webfont.svg#MyriadProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayregular';
  src: url("fonts/raleway-regular-webfont.eot");
  src: url("fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-regular-webfont.woff2") format("woff2"), url("fonts/raleway-regular-webfont.woff") format("woff"), url("fonts/raleway-regular-webfont.ttf") format("truetype"), url("fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaybold';
  src: url("fonts/raleway-bold-webfont.eot");
  src: url("fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-bold-webfont.woff2") format("woff2"), url("fonts/raleway-bold-webfont.woff") format("woff"), url("fonts/raleway-bold-webfont.ttf") format("truetype"), url("fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaysemibold';
  src: url("fonts/raleway-semibold-webfont.eot");
  src: url("fonts/raleway-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-semibold-webfont.woff2") format("woff2"), url("fonts/raleway-semibold-webfont.woff") format("woff"), url("fonts/raleway-semibold-webfont.ttf") format("truetype"), url("fonts/raleway-semibold-webfont.svg#ralewaysemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaylight';
  src: url("fonts/raleway-light-webfont.eot");
  src: url("fonts/raleway-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-light-webfont.woff2") format("woff2"), url("fonts/raleway-light-webfont.woff") format("woff"), url("fonts/raleway-light-webfont.ttf") format("truetype"), url("fonts/raleway-light-webfont.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lobsterregular';
  src: url("fonts/lobster_1.3-webfont.eot");
  src: url("fonts/lobster_1.3-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lobster_1.3-webfont.woff2") format("woff2"), url("fonts/lobster_1.3-webfont.woff") format("woff"), url("fonts/lobster_1.3-webfont.ttf") format("truetype"), url("fonts/lobster_1.3-webfont.svg#lobster_1.3regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaythin';
  src: url("fonts/raleway-thin-webfont.eot");
  src: url("fonts/raleway-thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/raleway-thin-webfont.woff2") format("woff2"), url("fonts/raleway-thin-webfont.woff") format("woff"), url("fonts/raleway-thin-webfont.ttf") format("truetype"), url("fonts/raleway-thin-webfont.svg#ralewaythin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../src/sass/tools/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 6, ../src/sass/tools/_helpers.scss */
.maj {
  text-transform: uppercase;
}

/* @mixin image($name){
	@include sprites-sprite($name); 

	background-position: sprite-position($sprites, $name);
	height: image-height(sprite-file($sprites, $name));
	width: image-width(sprite-file($sprites, $name));

	@media (-webkit-min-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(min-device-pixel-ratio: 1.5) {
		background-position: 0 round(nth(sprite-position($sprites2x, $name), 2) / 2);
	} 
}  */
/* line 1, ../src/sass/base/_base.scss */
body {
  background: #fe0000;
  font-family: 'ralewayregular', sans-serif;
}

/* line 6, ../src/sass/base/_base.scss */
.title {
  border-bottom: 1px solid #d6d4d4;
  border-top: 1px solid #d6d4d4;
  padding: 10px 0 6px;
  font-family: 'ralewaythin';
  color: #000;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 29px;
}

/* line 22, ../src/sass/base/_base.scss */
.firstletter {
  text-transform: capitalize;
}

/* line 26, ../src/sass/base/_base.scss */
.sub-title {
  font-family: 'ralewayregular', sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 34px;
}
/* line 34, ../src/sass/base/_base.scss */
.joinForm .sub-title {
  border-bottom: 1px solid #d6d4d4;
  border-top: 1px solid #d6d4d4;
  padding: 10px 0 6px;
  font-family: 'lobsterregular';
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
/* line 44, ../src/sass/base/_base.scss */
.orders .sub-title {
  font-family: 'ralewaybold', sans-serif;
}
/* line 46, ../src/sass/base/_base.scss */
.sub-title.two {
  margin: 10px 0;
  text-align: left;
}

/* line 52, ../src/sass/base/_base.scss */
p {
  font-size: 16px;
  color: #fff;
}

/* line 57, ../src/sass/base/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*-ms-touch-action:none;*/
  -ms-content-zooming: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 60, ../src/sass/base/_base.scss */
input, textarea, select, label {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

/* line 62, ../src/sass/base/_base.scss */
input, button, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}

/* line 63, ../src/sass/base/_base.scss */
input[type='checkbox'] {
  -webkit-appearance: checkbox;
}

/* line 64, ../src/sass/base/_base.scss */
input[type='radio'] {
  -webkit-appearance: radio;
}

/* line 66, ../src/sass/base/_base.scss */
html {
  height: 100%;
}

/* line 67, ../src/sass/base/_base.scss */
body {
  position: relative;
  margin: 0 0.1px;
  padding: 0px;
  height: 100%;
  text-align: center;
  /*-ms-touch-action:none;*/
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: #fff;
}

/* line 79, ../src/sass/base/_base.scss */
img {
  max-width: 100%;
}

/* line 83, ../src/sass/base/_base.scss */
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  min-width: 320px;
}

/* line 87, ../src/sass/base/_base.scss */
.content {
  overflow: hidden;
}

/* line 91, ../src/sass/base/_base.scss */
.nav + .content {
  display: none;
}

/* line 94, ../src/sass/base/_base.scss */
.nav.empty + .content {
  display: block;
}

/* line 98, ../src/sass/base/_base.scss */
.content section {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -ms-transform: translate3d(0, 0, 0);
  z-index: 0;
  position: absolute;
  top: 43px;
  bottom: 0;
  left: 0%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  -ms-transition: left 0.3s;
  transition: left 0.3s;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 2.5px solid #fff;
}

/* line 121, ../src/sass/base/_base.scss */
nav.empty + .content section {
  bottom: 0;
}

/* line 123, ../src/sass/base/_base.scss */
section.prev {
  z-index: 3;
  left: -100%;
}

/* line 124, ../src/sass/base/_base.scss */
section.next {
  z-index: 3;
  left: 100%;
}

/* line 126, ../src/sass/base/_base.scss */
section .inner {
  -webkit-transition: -webkit-transform 0ms;
  -webkit-transform-origin: 0px 0px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-overflow-scrolling: touch;
  position: relative;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-width: 100%;
  /* margin: 28px 0; */
  padding: 115px 21px 0;
}
/* line 143, ../src/sass/base/_base.scss */
section .inner.auth, section .inner.register {
  padding-top: 145px;
}
/* line 148, ../src/sass/base/_base.scss */
section .inner.auth {
  margin-top: 0;
  background: url("../images/backgrounds/bg-1.jpg") 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100%;
  	 	/* ul{
  	 		display: block;
  	 		margin: auto; 
  	 		text-align: center;
  	 		li{
  	 			display: inline-block;
  	 			text-align: left;
  
  	 			+li{
  	 				margin-left: 7px;
  	 				padding-left: 7px;
  	 				border-left: 1px solid $white;
  	 			}
  
  	 			a{
  	 				color: $white; 
  					@include font_myriadpro_regular();
  	 				font-size: 15px;  
  	 				text-decoration: none;
  	 			}
  	 		}
  	 	} */
}
/* line 178, ../src/sass/base/_base.scss */
section .inner.loading {
  display: none;
}

/* line 183, ../src/sass/base/_base.scss */
.load {
  position: absolute;
  z-index: 9;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
  display: block;
  min-height: 380px;
  width: 100%;
}
/* line 194, ../src/sass/base/_base.scss */
.load img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}

/* line 202, ../src/sass/base/_base.scss */
.btn-scan {
  color: #f1eae8 !important;
  text-decoration: none;
  background: #282828;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  font-size: 25px;
  line-height: 75px;
  height: 75px;
  margin: 0 auto 25px;
  text-align: center;
  width: 100%;
  		/* position: relative;
  		border: none;
  		background: $red3;
  		height: 49px;
  		line-height: 40px;
  		@include border-radius(100%);
  		width: 49px;
  		font-size: 18px;
  		font-family: 'ralewaybold';
  		color: $white;
      	margin: 0 auto;
      	cursor: pointer;  */
}
/* line 229, ../src/sass/base/_base.scss */
.home-scan .btn-scan {
  height: 132px;
  line-height: 132px;
}

/* line 236, ../src/sass/base/_base.scss */
.home-scan .scan {
  margin-top: 0;
}

/* line 242, ../src/sass/base/_base.scss */
.btn-submit {
  font-family: 'ralewayregular', sans-serif;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #282828;
  border: none;
  color: #fff;
  display: block;
  font-size: 25px;
  line-height: 70px;
  height: 70px;
  margin: 35px auto 40px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 257, ../src/sass/base/_base.scss */
.btn-submit.two {
  float: right;
  height: 69px;
  line-height: 69px;
  width: 171px;
}

/* line 265, ../src/sass/base/_base.scss */
.btn-link, ul.list-adress li > a {
  font-family: 'ralewayregular', sans-serif;
  color: #000;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  display: block;
  text-decoration: none;
}
/* line 274, ../src/sass/base/_base.scss */
.btn-link.top, ul.list-adress li > a.top {
  margin-top: 15px;
}

/* line 279, ../src/sass/base/_base.scss */
.msg {
  color: #fff;
  font-size: 15px;
}

/* line 284, ../src/sass/base/_base.scss */
.separator {
  border-top: 1px solid #717474;
}

/* line 288, ../src/sass/base/_base.scss */
.box {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
  padding: 23px 20px 8px;
  margin: 0 auto;
}
/* line 296, ../src/sass/base/_base.scss */
.scan .box {
  padding: 26px 35px;
}
/* line 300, ../src/sass/base/_base.scss */
.box .sub-title {
  color: #282828;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 38px;
}
/* line 306, ../src/sass/base/_base.scss */
.box .sub-title span {
  display: block;
  font-weight: 300;
  font-size: 17px;
  margin-top: 10px;
}

/**************************************************/
/* line 318, ../src/sass/base/_base.scss */
.btn-add,
ul.scan-link2btn > li > a {
  color: #2d2e2d !important;
  background-color: #eaeaf1;
  margin: 0 auto;
  text-align: center;
  padding: 18px 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-transform: uppercase;
}

/* line 331, ../src/sass/base/_base.scss */
.btn-add {
  color: #2d2e2d !important;
  font-size: 14px !important;
  text-align: center !important;
}

/* line 336, ../src/sass/base/_base.scss */
ul.list-adress li > a {
  display: block;
}

/* line 339, ../src/sass/base/_base.scss */
ul.scan-link2btn > li > a {
  color: #2d2e2d;
}

/* line 342, ../src/sass/base/_base.scss */
ul.scan-link2btn > li.add-new {
  margin-top: 40px;
}

/* line 345, ../src/sass/base/_base.scss */
ul.list-adress > li.add-new > a {
  background-color: #eaeaf1;
  color: #2d2e2d;
}

/* line 349, ../src/sass/base/_base.scss */
ul.scan-link2btn .push-adress {
  margin-bottom: 20px;
}

/* line 352, ../src/sass/base/_base.scss */
#customBtn .btn {
  background-image: none;
  background-color: #282828;
  font-size: 14px;
  color: #ffd8d8;
  text-align: center;
  padding: 16px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 120px;
}

/**************************************************/
/* line 368, ../src/sass/base/_base.scss */
ul.list-links li {
  font-family: 'MyriadProSemibold';
  display: inline-block;
}
/* line 372, ../src/sass/base/_base.scss */
ul.list-links li + li {
  margin-top: 11px;
}
/* line 374, ../src/sass/base/_base.scss */
ul.list-links li a {
  /* color: $black-light; */
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}
/* line 385, ../src/sass/base/_base.scss */
ul.list-adress.check li {
  position: relative;
}
/* line 388, ../src/sass/base/_base.scss */
ul.list-adress.check li input {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}
/* line 394, ../src/sass/base/_base.scss */
ul.list-adress.check li label {
  display: block;
  padding-left: 25px;
}
/* line 398, ../src/sass/base/_base.scss */
ul.list-adress.check li + li {
  border-top: 1px solid #ffd8d8;
}
/* line 404, ../src/sass/base/_base.scss */
ul.list-adress.scan-link2btn {
  margin-bottom: 10px;
}
/* line 408, ../src/sass/base/_base.scss */
ul.list-adress.scan-link2btn .buttons.edit .btn-scan {
  /* background-color: #ff4d4d; */
  color: #2d2e2d !important;
  margin: 0 auto !important;
  max-width: 218px;
  min-width: 218px;
}
/* line 415, ../src/sass/base/_base.scss */
ul.list-adress.scan-link2btn .buttons.edit .btn-scan + .btn-scan {
  color: #fc0d13 !important;
  min-width: 100%;
}
/* line 423, ../src/sass/base/_base.scss */
ul.list-adress.scan-link2btn .title {
  border: none;
  padding: 0;
}
/* line 430, ../src/sass/base/_base.scss */
ul.list-adress.ords li {
  position: relative;
}
/* line 433, ../src/sass/base/_base.scss */
ul.list-adress.ords li:after {
  background: url("../images/picto-flesht.png") 0 0 no-repeat;
  content: "";
  display: inline-block;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  position: absolute;
  right: -20px;
  top: 10px;
  vertical-align: middle;
  width: 20px;
}
/* line 448, ../src/sass/base/_base.scss */
ul.list-adress.ords li a {
  padding: 10px 0;
  overflow: hidden;
}
/* line 453, ../src/sass/base/_base.scss */
ul.list-adress.ords li span {
  color: #ffd8d8;
}
/* line 455, ../src/sass/base/_base.scss */
ul.list-adress.ords li span + span {
  margin-right: 3px;
}
/* line 460, ../src/sass/base/_base.scss */
ul.list-adress.ords li + li {
  border-top: 1px solid #ffd8d8;
}
/* line 466, ../src/sass/base/_base.scss */
ul.list-adress li {
  color: #000;
  font-size: 15px;
  font-family: 'MyriadProSemibold';
  line-height: 18px;
  text-align: left;
}
/* line 474, ../src/sass/base/_base.scss */
ul.list-adress li.separator {
  border-top: none;
  padding: 0;
  position: relative;
  top: -11px;
}
/* line 481, ../src/sass/base/_base.scss */
ul.list-adress li.title {
  color: #000;
  font-size: 22px;
  margin-bottom: 21px;
}
/* line 485, ../src/sass/base/_base.scss */
ul.list-adress li.title.left {
  padding-left: 15px;
}
/* line 494, ../src/sass/base/_base.scss */
ul.list-adress li > a {
  /* padding: 5px 0 0;   */
}
/* line 499, ../src/sass/base/_base.scss */
ul.list-adress li.separator-link {
  margin: 15px 0 34px;
}
/* line 505, ../src/sass/base/_base.scss */
.orders ul.list-adress li a {
  color: #000;
  display: block;
}
/* line 510, ../src/sass/base/_base.scss */
.orders ul.list-adress li p {
  overflow: hidden;
  line-height: normal;
  color: #fc0d13;
}
/* line 514, ../src/sass/base/_base.scss */
.orders ul.list-adress li p + p {
  margin-top: 15px;
}
/* line 517, ../src/sass/base/_base.scss */
.orders ul.list-adress li img {
  display: block;
  margin: 0 auto 10px;
}
/* line 522, ../src/sass/base/_base.scss */
.orders ul.list-adress li span {
  color: #000;
  font-size: 15px;
  float: right;
}
/* line 526, ../src/sass/base/_base.scss */
.orders ul.list-adress li span:first-child {
  float: left;
}
/* line 533, ../src/sass/base/_base.scss */
ul.list-adress.fiche li p {
  color: #333333;
  font-family: 'ralewaylight';
}
/* line 541, ../src/sass/base/_base.scss */
ul.link2btn {
  text-align: center;
}
/* line 543, ../src/sass/base/_base.scss */
ul.link2btn li {
  display: inline-block;
  color: #000;
  font-size: 15px;
}
/* line 547, ../src/sass/base/_base.scss */
.home-scan ul.link2btn li {
  display: block;
}
/* line 550, ../src/sass/base/_base.scss */
ul.link2btn li a {
  color: #000;
  font-family: 'ralewayregular';
}
/* line 555, ../src/sass/base/_base.scss */
ul.link2btn li + li {
  margin-left: 8px;
}
/* line 557, ../src/sass/base/_base.scss */
ul.link2btn li + li:before {
  margin-right: 8px;
  content: "|";
  display: inline-block;
}
/* line 564, ../src/sass/base/_base.scss */
.scan ul.link2btn li + li {
  margin-left: 0;
  margin-top: 30px;
}
/* line 567, ../src/sass/base/_base.scss */
.scan ul.link2btn li + li:before {
  margin-right: 0;
  content: "";
}
/* line 576, ../src/sass/base/_base.scss */
.auth ul.link2btn li {
  color: #fff;
}
/* line 578, ../src/sass/base/_base.scss */
.auth ul.link2btn li a {
  color: #fff;
}

/* line 588, ../src/sass/base/_base.scss */
p.img {
  background: #e9e6e6;
  margin: 20px -22px 0;
  padding: 35px 10px;
}
/* line 594, ../src/sass/base/_base.scss */
p.product-title {
  background: #fff;
  font-family: 'lobsterregular';
  color: #000;
  font-size: 25px;
  padding: 6px;
  margin: 0 auto;
  width: 272px;
  position: relative;
  text-align: center;
  top: -34px;
}
/* line 606, ../src/sass/base/_base.scss */
p.product-title span {
  border: 1px dashed #333333;
  display: block;
  padding: 16px 10px;
  float: none !important;
}

/* line 614, ../src/sass/base/_base.scss */
.product-info {
  overflow: hidden;
  margin-bottom: 58px;
}
/* line 617, ../src/sass/base/_base.scss */
.total .product-info {
  margin-bottom: 0;
}
/* line 620, ../src/sass/base/_base.scss */
.product-info p {
  color: #000;
  font-size: 12px;
  overflow: hidden;
  padding: 0 0 10px;
}

/* line 628, ../src/sass/base/_base.scss */
.product-info-title {
  overflow: hidden;
  margin-bottom: 39px;
}
/* line 631, ../src/sass/base/_base.scss */
.product-info-title p {
  color: #000;
  float: left;
  width: 50%;
  font-size: 18px;
  margin: 10px 0 0 !important;
  text-align: left;
}
/* line 639, ../src/sass/base/_base.scss */
.product-info-title p:nth-child(2n) {
  text-align: right;
  font-size: 25px;
  font-family: 'ralewaysemibold';
}
/* line 644, ../src/sass/base/_base.scss */
.product-info-title p.tot {
  color: #fc0d13;
}

/* line 650, ../src/sass/base/_base.scss */
.push-adress {
  font-size: 16px;
  color: #fc0d13;
  border: 1px solid #ffd8d8;
  padding: 18px 15px;
  word-wrap: break-word;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 659, ../src/sass/base/_base.scss */
.push-adress address + a {
  margin: 21px 0 8px;
}

/* class message oblig page manage my address(s) */
/* line 666, ../src/sass/base/_base.scss */
.sep {
  margin-bottom: 36px;
}

/* line 667, ../src/sass/base/_base.scss */
.msg-oblig {
  color: #191919;
  font-family: 'MyriadProSemibold';
  font-size: 13px;
  margin: 16px 0 0;
  text-align: left;
}
/* line 674, ../src/sass/base/_base.scss */
.joinForm .msg-oblig {
  margin-bottom: 0;
}
/* line 676, ../src/sass/base/_base.scss */
.msg-oblig.bottom {
  margin-bottom: 15px;
}
/* line 677, ../src/sass/base/_base.scss */
.msg-oblig.last {
  background: #eaeaf1;
  padding: 16px 0;
  margin-bottom: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}
/* line 684, ../src/sass/base/_base.scss */
.msg-oblig.last a {
  display: inline-block !important;
}

/* line 691, ../src/sass/base/_base.scss */
.buttons.twice {
  overflow: hidden;
}
/* line 694, ../src/sass/base/_base.scss */
.buttons.twice.large span {
  color: white;
  width: 200px;
}
/* line 697, ../src/sass/base/_base.scss */
.buttons.twice .btn {
  float: left;
}
/* line 699, ../src/sass/base/_base.scss */
.buttons.twice .btn:first-child {
  height: 49px;
  width: 49px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -487px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .buttons.twice .btn:first-child {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -393px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 701, ../src/sass/base/_base.scss */
.buttons.twice .btn:first-child span {
  top: 48px;
}
/* line 703, ../src/sass/base/_base.scss */
.buttons.twice .btn + .btn {
  float: right;
}
/* line 705, ../src/sass/base/_base.scss */
.buttons.twice .btn + .btn span {
  top: 34px;
}
/* line 710, ../src/sass/base/_base.scss */
.buttons.edit {
  overflow: hidden;
  margin: 25px 0;
}
/* line 714, ../src/sass/base/_base.scss */
.buttons.edit .btn-scan {
  height: 40px;
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}
/* line 717, ../src/sass/base/_base.scss */
.buttons.edit.middle .btn-scan {
  display: inline-block;
  width: 45%;
  float: none !important;
  font-family: 'MyriadProSemibold';
}
/* line 723, ../src/sass/base/_base.scss */
.buttons.edit.middle .btn-scan:first-child {
  margin-right: 8%;
}
/* line 731, ../src/sass/base/_base.scss */
.buttons .btn-scan:first-child {
  color: #2d2e2d !important;
  font-size: 10px;
  background: #eaeaf1 !important;
  height: 42px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  min-width: 218px !important;
  margin: 0 0 0 auto !important;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
/* line 746, ../src/sass/base/_base.scss */
.buttons .btn-scan + .btn-scan {
  color: #fc0d13 !important;
  font-size: 25px;
  font-family: 'lobsterregular' !important;
  background: none;
  text-align: center;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #d6d4d4;
  width: 100% !important;
}

/* Profile page */
/* line 763, ../src/sass/base/_base.scss */
.box-full + .box-full {
  margin-top: 30px;
  border-top: 2px solid #ff8080;
  padding-top: 20px;
}
/* line 769, ../src/sass/base/_base.scss */
.box-full .title {
  border: none;
  padding: 0;
}

/* line 774, ../src/sass/base/_base.scss */
.profile {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0 auto 24px;
  height: 70px;
  overflow: hidden;
  width: 70px;
}

/* line 783, ../src/sass/base/_base.scss */
.select {
  display: inline-block;
  position: relative;
  width: 100%;
}
/* line 789, ../src/sass/base/_base.scss */
.select:before, .select:after {
  content: " ";
  position: absolute;
  pointer-events: none;
}
/* line 794, ../src/sass/base/_base.scss */
.select:before {
  width: 2.25em;
  height: 100%;
  top: 0;
  right: 0;
}
/* line 802, ../src/sass/base/_base.scss */
.select:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  right: .75em;
  top: 50%;
  margin-top: -3px;
}
/* line 811, ../src/sass/base/_base.scss */
.select select {
  padding: .25em 2.5em .25em .375em;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 1em;
  height: 40px !important;
  line-height: 40px !important;
}
/* line 820, ../src/sass/base/_base.scss */
.select select::-ms-expand {
  display: none;
}

/* line 828, ../src/sass/base/_base.scss */
.new_address {
  display: none;
  margin-top: 15px;
}
/* line 832, ../src/sass/base/_base.scss */
.new_address.show {
  display: block;
}

/* Min View Port */
/* Android Portrait */
@media screen and (max-height: 456px) {
  /* line 838, ../src/sass/base/_base.scss */
  body {
    min-height: 515px;
  }
}
/* iPhone 5 Portrait */
@media screen and (max-height: 444px) {
  /* line 839, ../src/sass/base/_base.scss */
  body {
    min-height: 504px;
  }
}
/* iPhone Portrait */
@media screen and (max-height: 356px) {
  /* line 840, ../src/sass/base/_base.scss */
  body {
    min-height: 416px;
  }
}
/* Android Landscape */
@media screen and (max-height: 243px) {
  /* line 841, ../src/sass/base/_base.scss */
  body {
    min-height: 295px;
  }
}
/* Android Landscape */
@media screen and (max-height: 237px) {
  /* line 842, ../src/sass/base/_base.scss */
  body {
    min-height: 295px;
  }
}
/* iPhone Landscape */
@media screen and (max-height: 208px) {
  /* line 843, ../src/sass/base/_base.scss */
  body {
    min-height: 268px;
  }
}
/* line 1, ../src/sass/base/_forms.scss */
.form {
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
}
/* line 7, ../src/sass/base/_forms.scss */
.form.large {
  width: auto;
}
/* line 13, ../src/sass/base/_forms.scss */
.form .select_two {
  overflow: hidden;
  margin: 5px 0;
}
/* line 16, ../src/sass/base/_forms.scss */
.form .select_two .formline {
  float: left;
  width: 45%;
}
/* line 19, ../src/sass/base/_forms.scss */
.form .select_two .formline + .formline {
  float: right;
  margin-top: 0 !important;
}
/* line 26, ../src/sass/base/_forms.scss */
.form .select_two.tree .formline {
  float: left;
  width: 33%;
}
/* line 29, ../src/sass/base/_forms.scss */
.form .select_two.tree .formline + .formline {
  float: left;
  margin-left: 0.5%;
}
/* line 34, ../src/sass/base/_forms.scss */
.form .select_two.tree select {
  padding-left: 2px !important;
  font-size: 13px !important;
}
/* line 41, ../src/sass/base/_forms.scss */
.form input[type=email],
.form input[type=text],
.form select,
.form input[type=password],
.form textarea {
  background: #fff;
  border: none;
  font-family: 'ralewayregular', sans-serif;
  color: #282828;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  height: 45px;
  line-height: 45px;
  padding: 0 20px 0 5px;
  text-align: center;
  width: 100%;
}
/* line 64, ../src/sass/base/_forms.scss */
.form textarea {
  text-align: left;
  height: 200px;
}
/* line 69, ../src/sass/base/_forms.scss */
.form select {
  border: none;
  text-align: left;
  width: 100%;
}
/* line 75, ../src/sass/base/_forms.scss */
.form .btn {
  height: 49px;
  width: 49px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -662px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  margin: 40px 0 14px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .form .btn {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -537.5px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 81, ../src/sass/base/_forms.scss */
.form .btn span {
  color: #fff;
  font-family: 'MyriadProSemibold';
  font-size: 15px;
  display: block;
  position: relative;
  top: 40px;
}
/* line 90, ../src/sass/base/_forms.scss */
.auth .form .btn {
  margin-top: 46px;
  text-indent: -9999em;
}
/* line 96, ../src/sass/base/_forms.scss */
.form .box-radio {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 1.5px;
  text-align: left;
  margin: 25px 0 0;
}
/* line 104, ../src/sass/base/_forms.scss */
.form .box-radio.two {
  margin: 15px 0 25px;
}
/* line 108, ../src/sass/base/_forms.scss */
.form .box-radio i {
  top: 0 !important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffd8d8;
}
/* line 115, ../src/sass/base/_forms.scss */
.form .box-radio .caption {
  color: #fc0d13;
  font-size: 15px;
  margin-bottom: 22px;
  font-family: 'ralewaysemibold', sans-serif;
}
/* line 122, ../src/sass/base/_forms.scss */
.form .box-radio input,
.form .box-radio label {
  display: inline-block;
  vertical-align: middle;
}
/* line 128, ../src/sass/base/_forms.scss */
.form .box-radio label {
  color: #fc0d13;
  font-size: 15px;
  padding-left: 0 !important;
}
/* line 135, ../src/sass/base/_forms.scss */
.form .box-radio p + p {
  margin-top: 10px;
}
/* line 139, ../src/sass/base/_forms.scss */
.form .formline {
  position: relative;
}
/* line 143, ../src/sass/base/_forms.scss */
.form .formline.sel label {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  padding: 0;
}
/* line 152, ../src/sass/base/_forms.scss */
.form .formline label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-left: 15px;
}
/* line 161, ../src/sass/base/_forms.scss */
.form .formline label.digits {
  color: #000;
  line-height: 45px;
  font-size: 15px;
  font-family: 'ralewayregular', sans-serif;
}
/* line 168, ../src/sass/base/_forms.scss */
.form .formline label.oneline {
  line-height: 45px;
}
/* line 171, ../src/sass/base/_forms.scss */
.form .formline label span {
  font-size: 8px;
  display: block;
  margin: 6px 0 5px;
  overflow: hidden;
}
/* line 183, ../src/sass/base/_forms.scss */
.form .formline input:valid + label,
.form .formline input:focus + label,
.form .formline textarea:valid + label,
.form .formline textarea:focus + label {
  display: none;
}
/* line 186, ../src/sass/base/_forms.scss */
.form .formline + .formline {
  margin-top: 5px;
}
/* line 190, ../src/sass/base/_forms.scss */
.form .formline i {
  position: absolute;
  top: 15px;
  right: 3px;
  display: none;
}
/* line 198, ../src/sass/base/_forms.scss */
.form .formline.error i {
  display: block;
  height: 15px;
  width: 14px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -256px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .form .formline.error i {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -214px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 205, ../src/sass/base/_forms.scss */
.form .formline.valid i {
  display: block;
  height: 15px;
  width: 14px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -452px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .form .formline.valid i {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -368.5px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 212, ../src/sass/base/_forms.scss */
.form .formline.box-radio label {
  position: relative;
  text-align: left;
  top: auto;
}
/* line 220, ../src/sass/base/_forms.scss */
.form .formline.box-radio input:valid + label,
.form .formline.box-radio input:focus + label {
  display: inline-block;
}
/* line 224, ../src/sass/base/_forms.scss */
.form .formline.box-radio.error i {
  display: block;
  height: 15px;
  width: 14px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -256px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .form .formline.box-radio.error i {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -214px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}

/* line 234, ../src/sass/base/_forms.scss */
.btn {
  height: 49px;
  width: 49px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -662px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  display: inline-block;
  margin: 40px 0 14px;
  text-decoration: none;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .btn {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -537.5px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 242, ../src/sass/base/_forms.scss */
.btn.valid {
  height: 49px;
  width: 49px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -593px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .btn.valid {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -479px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 246, ../src/sass/base/_forms.scss */
.btn span {
  color: #fff;
  display: block;
  font-family: 'MyriadProSemibold';
  font-size: 15px;
  position: relative;
  top: 40px;
}
/* line 257, ../src/sass/base/_forms.scss */
.btn.btn-large span {
  width: 100px;
  top: 60px;
  left: -26px;
}

/* line 266, ../src/sass/base/_forms.scss */
.logForm {
  background: #fff;
  height: 184px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 184px;
  padding: 50px 27px;
  margin-bottom: 60px;
  	/* .btn-submit{
  		position: relative;
  		background: $red3;
  		height: 49px;
  		line-height: 40px;
  		@include border-radius(100%);
  		width: 49px;
  		font-size: 18px;
  		font-family: 'ralewaybold';
  		color: $white;
      	margin: 0 auto;
      	cursor: pointer; 
  	} */
}
/* line 274, ../src/sass/base/_forms.scss */
.logForm input[type=email],
.logForm input[type=text],
.logForm select,
.logForm input[type=password],
.logForm textarea {
  line-height: normal;
  background: none;
  padding: 13px 0;
  height: auto;
  width: 100%;
  border: none;
  color: #333333;
  font-size: 20px;
  text-align: center;
}
/* line 291, ../src/sass/base/_forms.scss */
.logForm .formline + .formline {
  border-top: 1px solid #dcdcde;
}
/* line 296, ../src/sass/base/_forms.scss */
.logForm .buttons {
  position: relative;
}

/* line 319, ../src/sass/base/_forms.scss */
.btn-submit {
  position: relative;
  background: none;
  height: 62px;
  width: 62px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -174px;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-size: 0px;
  /* font-family: 'ralewaybold';
  color: $white; */
  margin: 0 auto;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .btn-submit {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -143.5px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}

/* line 334, ../src/sass/base/_forms.scss */
.btn-back {
  position: relative;
  background: none;
  height: 62px;
  width: 62px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-size: 0px;
  margin: 0 auto;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .btn-back {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 0;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}

/* line 1, ../src/sass/layout/_header.scss */
#header {
  height: 43px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  /* overflow:hidden; */
}
/* line 8, ../src/sass/layout/_header.scss */
#header h2.welcome {
  color: #333333;
  font-size: 15px;
  font-family: 'ralewaylight';
  background: #fefefe;
  height: 43px;
  line-height: 43px;
  margin-bottom: 0;
  text-align: center;
  visibility: hidden;
}
/* line 21, ../src/sass/layout/_header.scss */
#header.hp .logo {
  background: none;
}
/* line 25, ../src/sass/layout/_header.scss */
#header.hp h2.welcome {
  height: 43px;
  visibility: visible;
}
/* line 31, ../src/sass/layout/_header.scss */
#header .leftButtonsContainer {
  left: 11px;
}
/* line 35, ../src/sass/layout/_header.scss */
#header .leftButtonsContainer,
#header .rightButtonsContainer {
  height: 27px;
  margin: -15px 0 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  text-indent: -9999em;
  text-decoration: none;
  top: 50%;
}
/* line 48, ../src/sass/layout/_header.scss */
#header .rightButtonsContainer {
  right: 11px;
  padding: 3px 5px;
}
/* line 49, ../src/sass/layout/_header.scss */
#header .rightButton {
  height: 21px;
  width: 18px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -411px;
  background-repeat: no-repeat;
  display: block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  #header .rightButton {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -337.5px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 55, ../src/sass/layout/_header.scss */
#header .infos {
  height: 14px;
  width: 19px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -291px;
  background-repeat: no-repeat;
  display: block;
  /* height: 27px;
  width: 37px; */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  #header .infos {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -238.5px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}

/* line 63, ../src/sass/layout/_header.scss */
.logo {
  color: #fff;
  background: #fff;
  font-weight: 300;
  font-size: 15px;
  padding-top: 29px;
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;
}
/* line 73, ../src/sass/layout/_header.scss */
.logo span {
  height: 66px;
  width: 147px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -325px;
  background-repeat: no-repeat;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 2px;
  display: inline-block;
  text-indent: -9999em;
  /* background-size: 112px auto !important; 
  -webkit-background-size: 112px auto !important; 
  -moz-background-size: 112px auto !important; */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .logo span {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -262px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}

/* line 1, ../src/sass/layout/_nav.scss */
nav,
.nav {
  border: 2.5px solid #fff;
  background: #2d2e2e;
  bottom: 0;
  left: 0;
  padding: 41px 35px 0;
  position: absolute;
  right: 0;
  top: 43px;
  z-index: 9999;
  margin-left: 0;
  width: 100%;
  -moz-transition: margin-left 0.2s;
  -o-transition: margin-left 0.2s;
  -webkit-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}
/* line 17, ../src/sass/layout/_nav.scss */
nav.red,
.nav.red {
  color: #e9b2af;
  background: #fc0d13;
}
/* line 22, ../src/sass/layout/_nav.scss */
nav.empty,
.nav.empty {
  margin-left: -100%;
}
/* line 26, ../src/sass/layout/_nav.scss */
nav ul,
.nav ul {
  position: relative;
  z-index: 99999;
}
/* line 30, ../src/sass/layout/_nav.scss */
nav ul li,
.nav ul li {
  text-align: left;
}
/* line 33, ../src/sass/layout/_nav.scss */
nav ul li.separator,
.nav ul li.separator {
  margin-top: 17px;
  padding: 17px 0 0;
}
/* line 40, ../src/sass/layout/_nav.scss */
nav ul li.active a,
.nav ul li.active a {
  color: #fff;
}
/* line 45, ../src/sass/layout/_nav.scss */
nav ul li a,
.nav ul li a {
  font-family: 'ralewaylight';
  color: #ccc;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 0;
}

/* line 5, ../src/sass/modules/_scan.scss */
.scan .or {
  font-size: 22px;
  color: #000;
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-family: 'MyriadProSemibold';
}

/* line 2, ../src/sass/modules/_command.scss */
.command .sub-title {
  color: #191919;
  margin-bottom: 14px;
}
/* line 6, ../src/sass/modules/_command.scss */
.command .sub-title + p {
  color: #e41e25;
  font-size: 15px;
  margin-bottom: 19px;
  text-align: center;
}
/* line 14, ../src/sass/modules/_command.scss */
.command .box {
  margin-bottom: 36px;
  padding: 0;
}
/* line 19, ../src/sass/modules/_command.scss */
.command .scan {
  margin-top: 0;
}
/* line 23, ../src/sass/modules/_command.scss */
.command .total {
  overflow: hidden;
  padding: 4px 0;
}
/* line 26, ../src/sass/modules/_command.scss */
.command .total > div,
.command .total > p.large {
  border-top: 1px solid #adadad;
  color: #666666;
  font-size: 13px;
  position: relative;
  padding: 15px 0;
  overflow: hidden;
}
/* line 35, ../src/sass/modules/_command.scss */
.command .total > div .select,
.command .total > p.large .select {
  float: right;
  margin-right: 1px;
}
/* line 40, ../src/sass/modules/_command.scss */
.command .total > div .select,
.command .total > p.large .select {
  width: 72px !important;
  line-height: 30px !important;
}
/* line 44, ../src/sass/modules/_command.scss */
.command .total > div .select select,
.command .total > p.large .select select {
  background: #fff;
  height: 36px !important;
  line-height: 30px !important;
  width: 70px !important;
}
/* line 52, ../src/sass/modules/_command.scss */
.command .total > div span,
.command .total > p.large span {
  line-height: 30px;
}
/* line 54, ../src/sass/modules/_command.scss */
.command .total > div span:first-child,
.command .total > p.large span:first-child {
  float: left;
  text-align: left;
}
/* line 59, ../src/sass/modules/_command.scss */
.command .total > div span:first-child + span,
.command .total > p.large span:first-child + span {
  float: right;
  text-align: right;
}
/* line 65, ../src/sass/modules/_command.scss */
.command .total > div span small,
.command .total > p.large span small {
  display: block;
  font-size: 9px;
  line-height: 0;
}
/* line 73, ../src/sass/modules/_command.scss */
.command .total > div.last,
.command .total > p.large.last {
  border: none;
  display: none;
  padding: 5px 0;
}
/* line 79, ../src/sass/modules/_command.scss */
.command .total > div.tax,
.command .total > p.large.tax {
  padding: 15px 0 0;
}
/* line 84, ../src/sass/modules/_command.scss */
.command .total > div.detail em,
.command .total > p.large.detail em {
  height: 26px;
  width: 26px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -128px;
  background-repeat: no-repeat;
  height: 26.5px !important;
  width: 27px !important;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .command .total > div.detail em,
  .command .total > p.large.detail em {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -107px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 92, ../src/sass/modules/_command.scss */
.command .total > div.detail.open em,
.command .total > p.large.detail.open em {
  height: 26px;
  width: 26px;
  background-image: url('../images/sprites-s44c0e06d69.png');
  background-position: 0 -82px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 34, ../src/sass/tools/_mixins.scss */
  .command .total > div.detail.open em,
  .command .total > p.large.detail.open em {
    background-image: url('../images/sprites-2x-s63facea83f.png');
    background-position: 0 -70.5px;
    -moz-background-size: 146px auto;
    -o-background-size: 146px auto;
    -webkit-background-size: 146px auto;
    background-size: 146px auto;
  }
}
/* line 98, ../src/sass/modules/_command.scss */
.command .total > div.large,
.command .total > p.large.large {
  width: 100%;
}
/* line 102, ../src/sass/modules/_command.scss */
.command .total > div.large span + span,
.command .total > p.large.large span + span {
  font-family: 'MyriadProSemibold';
  color: #282828;
}

/* line 1, ../src/sass/modules/_popin.scss */
.popin {
  z-index: 12;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  white-space: nowrap;
  opacity: 1;
  /* button,
  input[type='submit'],
  input[type='reset'],
  .button,
  .button2 {
  @include font_raleway();
      display: inline-block;
      height: 31px;
      margin: 0 5px;
      padding: 0 10px;
      min-width: 100px;
      border: 1px solid #CCC;
      text-decoration: none;
      font: bold 13px/31px Arial,Verdana,sans-serif;
      vertical-align: top;
      color: #FFF;
      background: $red;
  } */
}
/* line 10, ../src/sass/modules/_popin.scss */
.popin.display, .popin.display .popin {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 19, ../src/sass/modules/_popin.scss */
.popin.display .popin {
  z-index: 12;
}
/* line 23, ../src/sass/modules/_popin.scss */
.popin.display {
  bottom: 0;
  background: transparent;
}
/* line 29, ../src/sass/modules/_popin.scss */
.popin:before {
  content: '';
  display: inline-block;
  width: 1;
  height: 100%;
  margin: 0 0 0 -1px;
  vertical-align: middle;
  background: red;
}
/* line 39, ../src/sass/modules/_popin.scss */
.popin .layer {
  display: inline-block;
  position: relative;
  width: 90%;
  padding: 15px;
  max-height: 400px;
  max-width: 400px;
  min-width: 300px;
  border: 1px solid #fe0000;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  white-space: normal;
  vertical-align: middle;
  background: #FFF;
}
/* line 56, ../src/sass/modules/_popin.scss */
.popin .layer.level {
  padding-bottom: 1px;
}
/* line 60, ../src/sass/modules/_popin.scss */
.popin .layer .box-content {
  font-size: 16px;
  line-height: normal;
  max-height: 340px;
  overflow-x: visible;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 69, ../src/sass/modules/_popin.scss */
.popin .title {
  color: #fe0000;
  font-family: 'ralewayregular', sans-serif;
  margin: 0 0 10px;
  font-size: 25px;
}
/* line 76, ../src/sass/modules/_popin.scss */
.popin small {
  display: block;
  margin: 10px 0;
}
/* line 81, ../src/sass/modules/_popin.scss */
.popin input[type='checkbox'] {
  position: absolute;
}
/* line 85, ../src/sass/modules/_popin.scss */
.popin input[type='checkbox'] + label {
  display: inline-block;
  padding: 0 0 0 23px;
}
/* line 90, ../src/sass/modules/_popin.scss */
.popin .buttons {
  clear: both;
  margin: 0 0 10px;
  text-align: center;
}
/* line 96, ../src/sass/modules/_popin.scss */
.popin .btn {
  margin-top: 10px;
}
/* line 98, ../src/sass/modules/_popin.scss */
.popin .btn span {
  color: #fe0000;
  top: 60px;
}

/* line 124, ../src/sass/modules/_popin.scss */
.overlay {
  z-index: 11;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

/* line 1, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg {
  text-align: left;
}
/* line 4, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg .sub-title,
.box-wysiwyg h2 {
  color: #191919;
  line-height: 25px;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: 'ralewaysemibold', sans-serif;
}
/* line 13, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg h3 {
  font-family: 'ralewaybold', sans-serif;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 20px;
}
/* line 20, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg p {
  color: #fc0d13;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
}
/* line 26, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg p + h2 {
  margin-top: 26px;
}
/* line 31, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg ul {
  margin: 0 0 15px 20px;
}
/* line 34, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg ul li {
  color: #fc0d13;
  font-size: 15px;
  line-height: 20px;
  list-style-type: disc;
}
/* line 40, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg ul li + li {
  margin-top: 11px;
}
/* line 46, ../src/sass/modules/_wysiwyg.scss */
.box-wysiwyg a {
  font-family: 'MyriadProSemibold';
  color: #191919;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}
