<div class="inner scan"> 
	<div class="halfCol"> 
		<h1 class="title">Help</h1> 
		
		<div class="box-wysiwyg">
			<h1 class="sub-title">Sommaire</h1> 
			<h2>Me</h2>
			<ul>
				<li>How to create an account ?</li>
				<li>How to manage my account ?</li>
				<li>How to delete an account ?</li> 
			</ul>


			<h2>My creditcard</h2>
			<ul>
				<li>How to manage my credit card ?</li>
				<li>How to add a new credit card ?</li>
				<li>How to delete an existing credit card ?</li> 
			</ul>


			<h2>My address</h2>
			<ul>
				<li>How to manage my address(es) ?</li>
				<li>How to add a new a new address ?</li>
				<li>How to delete an exisitng address ?</li> 
			</ul>


			<h2>My order(s)</h2>
			<ul>
				<li>Werecan I seemy command ?</li>
				<li>How can I change it ?</li> 
			</ul>

			<h2>Other</h2>
			<ul>
				<li>About security</li>
				<li>About personnals informatio</li>
			</ul>  


			<h2>Contact </h2>
			<ul>
				<li>How to contact us ?</li>
			</ul> 

		</div>
	</div>
</div><!-- / .inner --> 