<div class="inner scan">  
	<div class="halfCol"> 
		<h2 class="title">Terms & conditions</h2> 
		
		<div class="box-wysiwyg">
			<h1 class="sub-title">Sommaire</h1> 
			<ul>
				<li>Introduction</li>
				<li>Features of the App</li>
				<li>The My Profile Feature in the App</li>
				<li>Our Role as Agent</li>
				<li>Security and UnauthorisedPayments</li>
				<li>Charges</li>
				<li>Termination/Suspension of your Access</li>
				<li>IntellectualProperty</li>
				<li>NO WARRANTY</li>
				<li>Limitations of Liability</li>
				<li>Indemnity</li>
				<li>Language and Notices</li>
				<li>System complaints and Dispute Resolution</li>
				<li>General</li>
				<li>Governing Law</li>
			</ul> 
		</div>
	</div><!-- halfCol -->  
</div><!-- / .inner --> 