<div class="inner scan">  
	<div class="halfCol"> 
		<h2 class="title">Privacy & policy</h2> 
		
		<div class="box-wysiwyg">  
			<h1 class="sub-title">Sommaire</h1> 
			<ul>
				<li>General</li>
				<li>Data We May Collect From You.</li>
				<li>Cookies On Our Site and Application.</li>
				<li>Where We Store Your Personal Data.</li>
				<li>How Your Data is Used.</li>
				<li>To Whom Your Data is Discloed.</li>
				<li>Your choice - Direct Marketing.</li>
				<li>Your Rights in Relation to Your Personal Data.</li>
				<li>Security.</li>
				<li>Retention.</li>
				<li>Sensitive Data.</li>
				<li>Third Party Sites/App/Services.</li>
				<li>Changes.</li>
				<li>Contact Us.</li>
			</ul>	 
		</div>
	</div><!-- halfCol -->
</div><!-- / .inner -->