<div class="inner first">
		<!-- <p>Non disponible pour la démo</p> -->
	<form class="joinForm form" data-root="forgotPassword" novalidate="novalidate"> 
		<fieldset>
			<h2 class="title">Forgot password?</h2>
	
			<div class="halfCol">
				<fieldset> 
	
					<div class="formline">
						<input type="email" name="email" id="email" required="required" />
						<label for="email" class="oneline">Email</label>
						<i></i>
					</div> 
	
				</fieldset>
	
			</div> 


			<div class="buttons edit middle"> 
				<a href="#home" class="btn-scan"><span>Cancel</span></a>
				<button type="submit" name="continue" class="ignore  btn-scan" value="Next">Send</button>
			</div><!-- / .buttons --> 
	
		</fieldset>
	
	</form>

</div><!-- / .inner --> 